<aside class="sidebar py-4 h-100 d-flex flex-column align-items-center">
    <div class="nav-toggle">
        <a href="javascript:void(0)"
            class="nav-toggle__link d-inline-flex align-items-center justify-content-center text-decoration-none">
            <span class="nav-toggle__icon pi pi-ellipsis-h"></span>
        </a>
    </div>
    <div class="site-logo">
        <a routerLink="/board" class="site-logo__link d-inline-block">
            <img src="assets/images/logo.svg">
        </a>
    </div>
    <nav class="site-nav">
        <ul class="site-nav__menu p-0">
            <li class="site-nav__item">
                <a routerLink="/board" class="site-nav__link text-decoration-none active">
                    <span class="site-nav__feather pi pi-th-large"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-user"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-calendar"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-chart-line"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-cloud-upload"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-map"></span>
                </a>
            </li>
            <li class="site-nav__item">
                <a href="javascript:void(0)" class="site-nav__link text-decoration-none">
                    <span class="site-nav__feather pi pi-sliders-v"></span>
                </a>
            </li>
        </ul>
    </nav>
</aside>