/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 5px;
}

html,
body,
.p-component {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #eeeeee;
}

a {
  color: #1c1d22;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

.btn-primary {
  --bs-btn-bg: #2d384b;
  --bs-btn-border-color: #2d384b;
  --bs-btn-hover-bg: #2d384b;
  --bs-btn-hover-border-color: #2d384b;
  --bs-btn-active-bg: #2d384b;
  --bs-btn-active-border-color: #2d384b;
  --bs-btn-disabled-bg: #2d384b;
  --bs-btn-disabled-border-color: #2d384b;
  transition: 0.25s ease;
}

.p-button.p-button-primary {
  background: #2d384b;
  border: 1px solid #2d384b;
}
.p-button.p-button-primary:hover, .p-button.p-button-primary:active {
  background: #232c3b;
  border: 1px solid #232c3b;
}

.text-primary {
  color: #2d384b;
}

a.text-primary {
  transition: 0.25s ease;
}
a.text-primary:hover {
  color: #1a202b;
}

.btn-secondary {
  --bs-btn-bg: #2fa5af;
  --bs-btn-border-color: #2fa5af;
  --bs-btn-hover-bg: #2fa5af;
  --bs-btn-hover-border-color: #2fa5af;
  --bs-btn-active-bg: #2fa5af;
  --bs-btn-active-border-color: #2fa5af;
  --bs-btn-disabled-bg: #2fa5af;
  --bs-btn-disabled-border-color: #2fa5af;
  transition: 0.25s ease;
}

.p-button.p-button-secondary {
  background: #2fa5af;
  border: 1px solid #2fa5af;
}
.p-button.p-button-secondary:hover, .p-button.p-button-secondary:active {
  background: #2a929b;
  border: 1px solid #2a929b;
}

.text-secondary {
  color: #2fa5af;
}

a.text-secondary {
  transition: 0.25s ease;
}
a.text-secondary:hover {
  color: #247f87;
}

.btn-accent {
  --bs-btn-bg: #f76838;
  --bs-btn-border-color: #f76838;
  --bs-btn-hover-bg: #f76838;
  --bs-btn-hover-border-color: #f76838;
  --bs-btn-active-bg: #f76838;
  --bs-btn-active-border-color: #f76838;
  --bs-btn-disabled-bg: #f76838;
  --bs-btn-disabled-border-color: #f76838;
  transition: 0.25s ease;
}

.p-button.p-button-accent {
  background: #f76838;
  border: 1px solid #f76838;
}
.p-button.p-button-accent:hover, .p-button.p-button-accent:active {
  background: #f6551f;
  border: 1px solid #f6551f;
}

.text-accent {
  color: #f76838;
}

a.text-accent {
  transition: 0.25s ease;
}
a.text-accent:hover {
  color: #f2440a;
}

.p-button {
  padding: 0.7rem 1rem;
}

.p-link {
  font-family: "Roboto", sans-serif;
}

.p-sidebar {
  color: #1c1d22;
}

.p-inputtext,
.p-multiselect {
  font-family: "Roboto", sans-serif;
  color: #1c1d22;
  padding: 0.6rem;
  border-radius: 4px;
}

.p-inputtextarea {
  resize: none;
  line-height: 22px;
}

.form-group .p-dropdown {
  width: 100%;
}

.form-group .p-calendar .p-inputtext {
  width: 100%;
}

.text-primary {
  color: #1c1d22 !important;
}

.fs-small {
  font-size: 14px;
}

.form-wrapper {
  width: 350px;
}

.sidebar {
  width: 90px;
  flex: 0 0 90px;
  background-color: #1c1d22;
}

.nav-toggle__link {
  width: 48px;
  height: 48px;
  opacity: 0.5;
  color: #ffffff;
}
.nav-toggle__icon {
  font-size: 18px;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.site-logo {
  margin: 1rem 0;
}

.site-nav__menu {
  list-style: none;
}
.site-nav__item {
  margin-top: 1rem;
}
.site-nav__link {
  width: 48px;
  height: 48px;
  opacity: 0.5;
  display: flex;
  margin: 0 auto;
  color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease;
  background-color: transparent;
}
.site-nav__link.active, .site-nav__link:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
.site-nav__feather {
  font-size: 18px;
}

.topbar {
  height: 94px;
}

.topbar-menu__icon {
  font-size: 20px;
}

.main-content {
  width: calc(100% - 90px);
}

.main-content router-outlet + * {
  display: block;
  height: 100%;
  padding: 1.5rem;
  overflow: hidden;
  overflow-x: auto;
}

.board-tabs__link {
  border-bottom: 2px solid transparent;
}
.board-tabs__link.active {
  border-bottom-color: #1c1d22;
}
.board-tabs__icon {
  font-size: 20px;
}

.board-column {
  max-width: 392px;
}
.board-column__inner {
  border: 2px dashed rgba(28, 29, 34, 0.08);
}
.board-column__top {
  font-size: 0.875rem;
}
.board-column__btn-icon {
  width: 15px;
}

.card {
  border: 2px solid rgba(28, 29, 34, 0.12) !important;
}

.card-header__menu {
  width: 26px;
  height: 26px;
  border-width: 2px !important;
}
.card-header__menu-icon {
  width: 15px;
  margin: 0 auto;
}

.card-subtitle {
  font-size: 0.875rem;
}

.progress-status {
  font-size: 0.875rem;
}
.progress-status__icon {
  width: 20px;
}

.card-footer .badge {
  color: #888da7;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: rgba(136, 141, 167, 0.1);
}

.counter-item {
  font-size: 0.875rem;
}
.counter-item__icon {
  width: 15px;
}

.p-sidebar.custom-sidebar {
  width: 650px;
  max-width: 100%;
}
.p-sidebar.custom-sidebar .p-sidebar-footer {
  border-top: 1px solid #dee2e6;
}

.sign-up {
  background-color: #ffffff;
}
.sign-up:after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  left: initial;
  width: 50%;
  background: url("./assets/images/sign-up-bg2.png");
}

.p-sidebar .p-tabview .p-tabview-nav-container:before {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: -1.25rem;
  right: -1.25rem;
  background-color: #dee2e6;
}
.p-tabview .p-tabview-nav {
  border-width: 0 0 1px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  padding: 0.65rem;
  font-weight: 500;
  box-shadow: none !important;
}
.p-tabview .p-tabview-nav li + li {
  margin-left: 20px;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #f76838;
  border-color: #f76838;
}
.p-tabview .p-tabview-panels {
  padding: 1.25rem 0;
}
.p-tabview .p-inputtextarea {
  height: 90px;
  background-color: #ebebeb;
}

.lds-ripple {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65);
}
.lds-ripple-inner {
  position: absolute;
  inset: 0;
  width: 80px;
  height: 80px;
  margin: auto;
}

.lds-ripple-inner div {
  position: absolute;
  border: 4px solid #ffffff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple-inner div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */